.friendItem {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 1rem;
  align-items: center;

  .img {
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    &:hover {
      opacity: 0.9;
    }
  }

  .name {
    font-weight: 700;
    font-size: 14px;
  }
  .status {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}
