body {
  background-color: var(--gray-bg);
  overflow-y: scroll;
}

:root {
  --gray-bg: #edeef0;
  --gray-hover: #e5e7eb;
  --gray-separator: #e7e8ec;
  --white: white;
}

.boxWhite {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 0 0 1px var(--gray-bg);
  border: 1px solid var(--gray-separator);
}

.twoColumn {
  display: grid;
  grid-template-columns: 62% 1fr;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}
