.layout {
  display: grid;
  grid-template-areas:
    'header header header header'
    '. sidebar main .';
  grid-template-columns: 200px 150px 1fr 200px;
  grid-template-rows: 48px auto;
  gap: 12px 40px;
  box-shadow: 0 0 0 1px var(--gray-bg);

  .header {
    grid-area: header;
    background-color: var(--white);
    box-shadow: 0 0 0 1px var(--gray-bg);
    padding: 16px;
    border-bottom: 1px solid var(--gray-separator);
  }

  .sidebar {
    grid-area: sidebar;
  }

  main {
    grid-area: main;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 0 0 1px var(--gray-bg);
    padding: 16px;
  }
}
