.layout {
  display: grid;
  grid-template-areas:
    '. headerLogo header .'
    '. sidebar main .';
  grid-template-columns: auto 164px 910px auto;
  grid-template-rows: 48px auto;
  gap: 15px 6px;
  box-shadow: 0 0 0 1px var(--gray-bg);

  .headerLogo {
    grid-area: headerLogo;
    align-self: center;
  }

  .headerText {
    grid-area: header;
    align-self: center;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .headerBg {
    background-color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 100%;
    z-index: -1;
  }

  main {
    grid-area: main;
  }
}

.layoutAuth {
  display: grid;
  grid-template-areas:
    '. headerLogo . .'
    '.  main main .';
  grid-template-columns: auto 110px 608px auto;
  grid-template-rows: 48px auto;
}
