.profileHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  padding: 20px;

  .img {
    border-radius: 50%;
  }

  .infoBlock {
    .status {
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
